/* 애니메이션 */

.ani_twinkling {
  animation: ani_twinkling 1.5s infinite alternate ease-out;
}

@keyframes ani_twinkling {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.ani_clickPlz {
  animation: ani_clickPlz 0.5s infinite alternate ease-in;
}

@keyframes ani_clickPlz {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.04);
  }
}

.ani_main_lantern_appear {
  animation: ani_appear 0.4s ease-in forwards,
    ani_lantern_moving 1s infinite alternate ease-in;
}
@keyframes ani_appear {
  0% {
    transform: translate(0%, -20%);
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    transform: translate(0%, 0%);
  }
}

@keyframes ani_lantern_moving {
  0% {
    transform: scale(1) translate(0, -2%);
  }
  100% {
    transform: scale(1.002) translate(0, 0%);
  }
}
