@font-face {
  font-family: "Dongguk";
  src: url("../assets/fonts/Dongguk.woff") format("WOFF");
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard.woff") format("WOFF");
}

@font-face {
  font-family: "LotteMartDreamBold";
  src: url("../assets/fonts/LotteMartDreamBold.woff") format("WOFF");
}
@font-face {
  font-family: "LotteMartDreamMedium";
  src: url("../assets/fonts/LotteMartDreamMedium.woff") format("WOFF");
}
@font-face {
  font-family: "LotteMartDreamLight";
  src: url("../assets/fonts/LotteMartDreamLight.woff") format("WOFF");
}
